ul{
    display: inline-block;
    width: 100%;
    background: #d2d8dd;
    color: #ffffff;
    margin:0;
    padding: 0;
}
ul li{
    display: inline;
    margin:0;
    padding: 0;
}
ul li h2{    
    font-family: 'Montserrat', sans-serif;
    text-decoration: blink;
}
h4 {
    color: #369;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
  }
.column {
    float: left;
    width: 200px;
    height:150px;
}
/* Clear floats after the columns */
.container:after {
    content: "";
    display: table;
    clear: both;
}